{% extends 'layout/layout.html.twig' %}

{% block page_title %}
	<i class="fa-solid fa-headset"></i>
	Meus Chamados
{% endblock %}

{% block content %}
	<div class='container-fluid totalizer shadow bg-full-white rounded-3'>
		<p>{{ total }}</p>
		<p>Total</p>
	</div>
    <br>
	<div class='container-fluid'>
		<div class='row justify-content-end'>
			<div class='col-3'>
                <a href={{ path('app_client_ticket_new') }} class='btn btn-sm bg-green font-white shadow-sm'>
                    <i class="fa-solid fa-circle-plus"></i>&nbsp&nbsp Novo Chamado
                </a>
				<a href={{ path('app_client_tickets_export_xls') }} class='btn btn-sm bg-yellow font-white shadow-sm'>
					<i class="fa-solid fa-file-export"></i>&nbsp&nbsp Exportar
				</a>
			</div>
		</div>
	</div>
    <br>
	<div class='container-fluid shadow bg-full-white rounded-3 padding'>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="">Número</th>
					<th scope="col">Data Abertura</th>
                    <th scope='col'>Fechado Em:</th>
					<th scope="col">Responsável</th>
					<th scope='col'>Ultima Atualização</th>
					<th scope="col">Status</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					<tr>
						<td>{{ ticket.getTicketNumber }}</td>
						<td>{{ ticket.getCreatedAt|date('d/m/Y H:i') }}</td>
                        <td>{{ ticket.getClosedAt ? ticket.getClosedAt|date('d/m/Y H:i') : '-' }}</td>
						<td>{{ ticket.getResponsable ? ticket.getResponsable.getUsername : '-' }}</td>
						<td>{{ ticket.getUpdatedAt|date('d/m/Y H:i') }}</td>
						<td>
							<span class="badge bg-{% if ticket.getStatus == 'finished' %}success{% elseif ticket.getStatus == 'opened' %}primary{% elseif ticket.getStatus == 'approval_pending' %}danger{% endif %}">
							{{ ticket.getStatusLabel }}</span>
						</td>
						<td>
							<a href={{ path('app_tickets_details', {'id': ticket.getId}) }} class='btn btn-sm bg-blue font-white shadow-sm'>
								<i class="fa-solid fa-circle-info"></i>&nbsp Detalhes
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock content %}
