{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	<div class="container-fluid login-container">
		<div class="container">
			<div class='container bg-base shadow'>
				<div class='app-infos font-white bg-blue'>
					<div>
						<i class="fa-solid fa-computer" style='font-size: 2rem'></i>
						<h3>Help Tech</h3>
					</div>
					<br>
					<div>
						<i class="fa-solid fa-timeline"></i>
						<small>Suporte distribuído</small>
					</div>
					<br>
					<div>
						<i class="fa-solid fa-chart-simple"></i>
						<small>Relatórios Gerais</small>
					</div>
					<br>
					<div>
						<i class="fa-solid fa-file-waveform"></i>
						<small>Status dinâmicos</small>
					</div>
				</div>
				<div class='form form-control'>
					<h3>{% if isClient %}
							<i class="fa-solid fa-user"></i> Portal do Cliente
						{% else %}
							<i class="fa-solid fa-user-lock"></i> Portal do Administrador
						{% endif %}</h3>
					<h4>Faça login na sua conta</h4>
					<br>
					<form action="{{ path( isClient ? 'app_client_login' : 'login') }}" method='POST'>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<input type="hidden" name="_target_path" value={{ isClient ? path('app_client_home') : is_granted('ROLE_ADMIN') ? path('app_home') : path('app_tickets_opened') }}/>
						<small class='login-small'>
							<label for="_username">Email</label>
						</small>
						<input type="text" name='_username' id='username' class='form-control-sm' value={{ last_username }}>

						<small class='login-small'>
							<label for="_password">Password</label>
						</small>
						<input type="password" name='_password' id='password' class='form-control-sm'>
						<br>
						<button type="submit" class='btn btn-sm bg-blue font-white'>Sign In</button>
					</form>
					<small class='login-small'>
						<a href={{ path('app_forgot_password_request') }}>Esqueci minha senha</a>
					</small>
					{% include "flash_messages.html.twig" %}
				</div>
			</div>

		</div>

	</div>
{% endblock %}
