{% extends 'layout/layout.html.twig' %}

{% block page_title %}
	<i class="fa-solid fa-door-open"></i>
	Chamados
	{{ statusLabel }}
{% endblock %}

{% block content %}
	<div class='container-fluid totalizer shadow bg-full-white rounded-3'>
		<p>{{ total }}</p>
		<p>Total</p>
	</div>
    <br>
	<div class='container-fluid'>
		<div class='row justify-content-end'>
			<div class='col-3'>
				{% if is_granted('ROLE_ADMIN') %}
					<a href={{ path('app_ticket_new') }} class='btn btn-sm bg-green font-white shadow-sm'>
						<i class="fa-solid fa-circle-plus"></i>&nbsp&nbsp Novo Chamado
					</a>
				{% endif %}
				<a href={{ path('app_tickets_export_xls', {'slug' : status}) }} class='btn btn-sm bg-yellow font-white shadow-sm'>
					<i class="fa-solid fa-file-export"></i>&nbsp&nbsp Exportar
				</a>
			</div>
		</div>
	</div>
    <br>
	<div class='container-fluid shadow bg-full-white rounded-3 padding'>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="">Número</th>
					<th scope="col">Cliente</th>
					<th scope="col">Data Abertura</th>
					{% if status == 'finished' %}
						<th scope='col'>Fechado Em:</th>
					{% endif %}
					<th scope="col">Responsável</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					<tr>
						<td>{{ ticket.getTicketNumber}}</td>
						<td>{{ ticket.getClient.getUserName}}</td>
						<td>{{ ticket.getCreatedAt|date('d/m/Y H:i')}}</td>
						{% if ticket.getStatus == 'finished' %}
							<td>{{ ticket.getClosedAt|date('d/m/Y H:i') }}</td>
						{% endif %}
						<td>{{ ticket.getResponsable ? ticket.getResponsable.getUsername : '-'}}</td>
						<td>
							{% if ticket.getStatus != 'finished' %}
								{% if ticket.getResponsable != app.user %}
									<a href={{ path('app_tickets_opened_assume', {'id': ticket.getId}) }} class='btn btn-sm bg-green font-white shadow-sm'>
										<i class="fa-solid fa-handshake"></i>&nbsp Assumir
									</a>
								{% else %}
									<a href={{ path('app_tickets_finish', {'id': ticket.getId}) }} class='btn btn-sm bg-green font-white shadow-sm'>
										<i class="fa-regular fa-circle-check"></i>&nbsp Finalizar
									</a>
								{% endif %}
							{% endif %}
							<a href={{ path('app_tickets_details', {'id': ticket.getId}) }} class='btn btn-sm bg-blue font-white shadow-sm'>
								<i class="fa-solid fa-circle-info"></i>&nbsp Detalhes
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock content %}
